@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
#head{
	height: 120px;
	width: 100%;
	background-color: #66CCCC;
	text-align: center;
	position: relative;
}

.title {
	font-family: "宋体";
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	font-size: 36px;
	height: 40px;
	width: 30%;
}

	#wrap{
		height: 719px;
		width: 100%;
		background-image: url(../image/1.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;/*相对定位  */
		text-align: center;

	}
	#wrap.logGet.top{
		width: 86%;
		position: relative;
		margin-bottom: 30px;
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}
	.logGet{
		height: 408px;
		width: 368px;  
		position: absolute;
		background-color: #FFFFFF;
		top: 20%;
		right: 15%;
	}
	.top.p1{
		display: inline-block;
		font-size: 28px;
		margin-top: 30px;
		width: 86%;
	}
	#wrap.logGet.lgD{
			width: 86%;
			position: relative;
			margin-bottom: 30px;
			margin-top: 30px;
			margin-right: auto;
			margin-left: auto;
			float: right;
		
	}

	.button a button{
	    height: 35px;
        width: 100%;
        text-align: center;
	}
	.foot{
		width: 100%;
		background-color: black;
		height: 80px;
		font-size: 15px;
		color: white;
		text-align: center;
	}